@font-face {
    font-family: 'Digital Counter 7';
    src: url("/fonts/digital_counter_7.ttf");
}


.display {
    -fx-font-family: 'Digital Counter 7';
    -fx-font-size: 32px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.number-buttons {
    -fx-font-family: 'System';
    -fx-font-size: 34px;
    -fx-text-fill: black;
    -fx-background-color: transparent;
}